In [ ]:
import pandas as pd

In [ ]:
# Read in Excel file
filepath = "YellowstoneLakesData.xlsx"
dictionary = pd.read_excel(filepath, sheet_name=None)

# Iterate through each DataFrame
for sheet_name, df in dictionary.items():
  # check if the first two columns are empty, then if they are drop them
  if df.iloc[:, 0].isnull().all() and df.iloc[:, 1].isnull().all():
    df = df.drop(df.columns[[0, 1]], axis=1)
    df = df.reset_index(drop=True)
  elif df.iloc[:, 0].isnull().all():
    df = df.drop(df.columns[[0]], axis=1)
    df = df.reset_index(drop=True)
  elif df.iloc[:, 1].isnull().all():
    df = df.drop(df.columns[[1]], axis=1)
    df = df.reset_index(drop=True)

  # Read down each column until the first value ignoring any that include the string "this table", then use that value as the column title.
  for column_index in range(df.shape[1]):
    for row_index in range(df.shape[0]):
      if not pd.isna(df.iloc[row_index, column_index]) and "this table" not in str(df.iloc[row_index, column_index]):
        df.columns.values[column_index] = df.iloc[row_index, column_index]
        # If the row below the first value is not blank add that value to the column title
        if not pd.isna(df.iloc[row_index+1, column_index]) and not df.iloc[row_index, column_index] == "Site":
          df.columns.values[column_index] = str(df.columns.values[column_index]) + " " + str(df.iloc[row_index+1, column_index])
        break

  # Find the empty column dividing the two datasets and use it to break the dataframe into two seperate dataframes
  for column_index in range(df.shape[1]):
    if df.iloc[:, column_index].isnull().all():
      new_df = df.iloc[:, column_index+1:].reset_index(drop=True)
      df = df.iloc[:, :column_index].reset_index(drop=True)
      break

  # Remove unnecessary columns from the dataframes
  # Iterate through the columns and find where there is only one value in the column or no values and drop those columns
  df_drop = []
  new_df_drop = []
  for column_index in range(df.shape[1]):
      if df.iloc[:, column_index].isnull().all() or df.iloc[:, column_index].notnull().sum() == 1:
          df_drop.append(column_index)
  for column_index in range(new_df.shape[1]):
      if new_df.iloc[:, column_index].isnull().all() or new_df.iloc[:, column_index].notnull().sum() == 1:
          new_df_drop.append(column_index)
  # Drop the unnecessary columns
  df = df.drop(df.columns[df_drop], axis=1)
  new_df = new_df.drop(new_df.columns[new_df_drop], axis=1)

  # Remove all unecessary rows from the dataframes using the site column
  df = df[df["Site"].notna() & (df["Site"] != "Site")].reset_index(drop=True)
  df["df_name"] = sheet_name
  new_df = new_df[new_df["Site"].notna() & (new_df["Site"] != "Site")].reset_index(drop=True)
  new_df["df_name"] = sheet_name + "2"

  # Add new_df to the bottom of df
  df = pd.concat([df, new_df], ignore_index=True)
  dictionary[sheet_name] = df
df

,Site,Year,Month,Location,Secchi Depth (m),Chlorophyll-a (mg/m^3),Total Phosphorus (ppb),Total Phosphorus (mg/L),Flow (cfs),Hydraulic Residence Time (yrs),Phosphorus Retention Coef,Primary Production,Carlson TSI,Burns TLI,Naumann TI,df_name,2023-07-01 00:00:00 2022-07-01 00:00:00,0.21,21.3,Carlson TSI
0,Swan Lake,2015,Jun,Inlake,2,2.1,30,0.03,NaN,NaN,NaN,NaN,47,NaN,NaN,Swan,NaN,NaN,NaN,NaN
1,Swan Lake,2014,Jun,Inlake,2,3.8,30,0.03,NaN,NaN,NaN,NaN,49,NaN,NaN,Swan,NaN,NaN,NaN,NaN
2,Swan Lake,2014,Aug,Inlake,2,3.8,30,0.03,NaN,NaN,NaN,NaN,49,NaN,NaN,Swan,NaN,NaN,NaN,NaN
3,Swan Lake,2014,Sep,Inlake,2,6.7,40,0.04,NaN,NaN,NaN,NaN,52.2,NaN,NaN,Swan,NaN,NaN,NaN,NaN
4,Swan Lake,2013,Jun,Inlake,2,7.1,40,0.04,NaN,NaN,NaN,NaN,52.4,NaN,NaN,Swan,NaN,NaN,NaN,NaN
5,Swan Lake,2013,Aug,Inlake,1,7.6,60,0.06,NaN,NaN,NaN,NaN,57.9,NaN,NaN,Swan,NaN,NaN,NaN,NaN
6,Swan Lake,2012,Jun,Inlake,4,1.8,20,0.02,NaN,NaN,NaN,NaN,41.2,NaN,NaN,Swan,NaN,NaN,NaN,NaN
7,Swan Lake,2012,Oct,Inlake,1,21.3,210,0.21,NaN,NaN,NaN,NaN,67.3,NaN,NaN,Swan,NaN,NaN,NaN,NaN
8,Swan Lake,2011,Jun,Inlake S,3,0.9,20,0.02,NaN,NaN,NaN,52.38,40.36,3.35,5.6,Swan,NaN,NaN,NaN,NaN
9,Swan Lake,2011,Oct,Inlake S,2,6.4,70,0.07,NaN,NaN,NaN,257.1,54.75,4.75,17.79,Swan,NaN,NaN,NaN,NaN
10,Swan Lake,2010,Jun,Inlake S,3.5,1.6,20,0.02,NaN,NaN,NaN,NaN,41.5,3.53,NaN,Swan,NaN,NaN,NaN,NaN
11,Swan Lake,2010,Jul,Inlake S,2.5,4.7,40,0.04,NaN,NaN,NaN,NaN,49.97,4.33,NaN,Swan,NaN,NaN,NaN,NaN
12,Swan Lake,2010,Aug,Inlake S,1.5,14.4,100,0.1,NaN,NaN,NaN,NaN,60.49,5.3,NaN,Swan,NaN,NaN,NaN,NaN
13,Swan Lake,2009,Jun,Inlake S,3.5,1.8,20,0.02,NaN,NaN,NaN,NaN,41.9,3.58,NaN,Swan,NaN,NaN,NaN,NaN
14,Swan Lake,2009,Jul,Inlake S,2.5,18.7,140,0.14,NaN,NaN,NaN,NaN,60.5,3.99,NaN,Swan,NaN,NaN,NaN,NaN
15,Swan Lake,2009,Aug,Inlake S,2.5,1.7,20,0.02,NaN,NaN,NaN,NaN,43.3,3.99,NaN,Swan,NaN,NaN,NaN,NaN
16,Swan Lake,2009,Oct,Inlake S,1.5,4.9,50,0.05,NaN,NaN,NaN,NaN,53.6,4.6,NaN,Swan,NaN,NaN,NaN,NaN
17,Swan Lake,2008,Jun,Inlake S,2.5,2.3,40,0.04,NaN,NaN,NaN,NaN,47.6,3.99,NaN,Swan,NaN,NaN,NaN,NaN
18,Swan Lake,2008,Jul,Inlake S,2.5,1.4,30,0.03,NaN,NaN,NaN,NaN,44.6,3.99,NaN,Swan,NaN,NaN,NaN,NaN
19,Swan Lake,2008,Aug,Inlake S,2.5,7.6,40,0.04,NaN,NaN,NaN,NaN,51.5,3.99,NaN,Swan,NaN,NaN,NaN,NaN
20,Swan Lake,2008,Oct,Inlake S,2.5,3.3,30,0.03,NaN,NaN,NaN,NaN,47.4,3.99,NaN,Swan,NaN,NaN,NaN,NaN
21,Swan Lake,2001,Apr,Inlake S,2,4.3,54,0.054,NaN,NaN,NaN,NaN,52.2,4.26,NaN,Swan,NaN,NaN,NaN,NaN
22,Swan Lake,2001,Jun,Inlake S,2.5,2.4,49,0.049,NaN,NaN,NaN,NaN,48.7,3.99,NaN,Swan,NaN,NaN,NaN,NaN
23,Swan Lake,2001,Jul,Inlake S,3.5,0.5,24,0.024,NaN,NaN,NaN,NaN,38.6,3.58,NaN,Swan,NaN,NaN,NaN,NaN
24,Swan Lake,2001,Aug,Inlake S,2,0.3,24,0.024,NaN,NaN,NaN,NaN,43.5,4.26,NaN,Swan,NaN,NaN,NaN,NaN
25,Swan Lake,2023,NaN,Inlake,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swan2,2023-07-01 00:00:00,NaN,NaN,NaN
26,Swan Lake,2022,no data,Inlake,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swan2,2022-07-01 00:00:00,NaN,NaN,NaN
27,Swan Lake,2023,Oct,Inlake,2,1.1,10,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swan2,2023-10-23 00:00:00,NaN,NaN,35
28,Swan Lake,2020,Jun,Inlake,2.5,2.8,10,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swan2,2020-06-22 00:00:00,NaN,NaN,39.3
29,Swan Lake,2019,Jul,Inlake,2,1.7,20,0.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swan2,2019-07-22 00:00:00,NaN,NaN,42
30,Swan Lake,2017,no data,Inlake,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swan2,2017-07-22 00:00:00,NaN,NaN,NaN
31,Swan Lake,2015,Jun,Inlake,2,2.1,30,0.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swan2,2015-06-22 00:00:00,NaN,NaN,47
32,Swan Lake,2014,Jun,Inlake,2,3.8,30,0.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swan2,2014-06-22 00:00:00,NaN,NaN,49
33,Swan Lake,2014,Aug,Inlake,2,3.8,30,0.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swan2,2014-08-22 00:00:00,NaN,NaN,49
34,Swan Lake,2014,Sep,Inlake,2,6.7,40,0.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swan2,2014-09-22 00:00:00,NaN,NaN,52.2
35,Swan Lake,2013,Jun,Inlake,2,7.1,40,0.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swan2,2013-06-22 00:00:00,NaN,NaN,52.4
36,Swan Lake,2013,Aug,Inlake,1,7.6,60,0.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swan2,2013-08-22 00:00:00,NaN,NaN,57.9
37,Swan Lake,2012,Jun,Inlake,4,1.8,20,0.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swan2,2012-06-22 00:00:00,NaN,NaN,41.2
38,Swan Lake,2012,Oct,Inlake,1,21.3,210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swan2,2012-10-22 00:00:00,0.21,21.3,67.3
39,Swan Lake,2011,Jun,Inlake S,3,0.9,20,0.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swan2,2011-06-22 00:00:00,NaN,NaN,40.36
40,Swan Lake,2011,Oct,Inlake S,2,6.4,70,0.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swan2,2011-10-22 00:00:00,NaN,NaN,54.75
41,Swan Lake,2010,Jun,Inlake S,3.5,1.6,20,0.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swan2,2010-06-22 00:00:00,NaN,NaN,41.5
42,Swan Lake,2010,Jul,Inlake S,2.5,4.7,40,0.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swan2,2010-07-22 00:00:00,NaN,NaN,49.97
43,Swan Lake,2010,Aug,Inlake S,1.5,14.4,100,0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swan2,2010-08-22 00:00:00,0.10,NaN,60.49
44,Swan Lake,2009,Jun,Inlake S,3.5,1.8,20,0.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swan2,2009-06-22 00:00:00,NaN,NaN,41.9
45,Swan Lake,2009,Jul,Inlake S,2.5,18.7,140,0.14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swan2,2009-07-22 00:00:00,0.14,NaN,60.5
46,Swan Lake,2009,Aug,Inlake S,2.5,1.7,20,0.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swan2,2009-08-22 00:00:00,NaN,NaN,43.3
47,Swan Lake,2009,Oct,Inlake S,1.5,4.9,50,0.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swan2,2009-10-22 00:00:00,NaN,NaN,53.6
48,Swan Lake,2008,Jun,Inlake S,2.5,2.3,40,0.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swan2,2008-06-22 00:00:00,NaN,NaN,47.6
49,Swan Lake,2008,Jul,Inlake S,2.5,1.4,30,0.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swan2,2008-07-22 00:00:00,NaN,NaN,44.6
50,Swan Lake,2008,Aug,Inlake S,2.5,7.6,40,0.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swan2,2008-08-22 00:00:00,NaN,NaN,51.5
51,Swan Lake,2008,Oct,Inlake S,2.5,3.3,30,0.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swan2,2008-10-22 00:00:00,NaN,NaN,47.4
52,Swan Lake,2001,Apr,Inlake S,2,4.3,54,0.054,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swan2,2001-05-22 00:00:00,NaN,NaN,52.2
53,Swan Lake,2001,Jun,Inlake S,2.5,2.4,49,0.049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swan2,2001-06-22 00:00:00,NaN,NaN,48.7
54,Swan Lake,2001,Jul,Inlake S,3.5,0.5,24,0.024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swan2,2001-07-22 00:00:00,NaN,NaN,38.6
55,Swan Lake,2001,Aug,Inlake S,2,0.3,24,0.024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Swan2,2001-08-22 00:00:00,NaN,NaN,43.5